<!doctype html>
<!--[if lt IE 7 ]> <html {{attrs}} lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html {{attrs}} lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html {{attrs}} lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html {{attrs}} lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html {{attrs}} lang="en" class="no-js"> <!--<![endif]-->
<head>
	
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>{{title}}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	
	{{_object.stylesheet()}}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/{{jquery_version}}/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/lib/js/jquery-{{jquery_version}}.min.js"%3E%3C/script%3E'))</script>
    
    <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="/lib/js/jquery-extended-selectors.js"></script>
        <script src="/lib/js/selectivizr-min.js"></script>
    <![endif]-->

    {% for i in head %}
    	{{ i }}
    {% endfor %}

    <script src="/lib/js/modernizr-1.7.min.js"></script>

</head>
<body>
	<div id="skybox" style="display:none;position:absolute;z-index:9999;"></div>
	<div id="overlay" style="display:none;position:absolute;z-index:5000"></div>
	<div id="body">